.map-z-2 {
  z-index: 2;
}

.sky-way-map-target {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.text-no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flex-1{
  flex: 1;
}
.text-align-left{
    text-align: left;
}
.padding-1{
    padding: 1vh;
}